#new_shop_form{
text-align: center;

input{
border-radius: 3px;
padding: 7px;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
margin: 10px;
width: 80%;
}

input[type="checkbox"]{
width: auto;
}


}